* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url('https://s3.amazonaws.com/petfinder-us-east-1-petimages-prod/organization-photos/42623/42623-1.jpg?bust=2017-06-18+23%3A31%3A13');
  background-position-x: 50%;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 60%;
  background-size: contain;
  height: 100vh;
  overflow: scroll;
  text-align: center;
}

.App-header {
  background-color: rgba(128, 128, 128, .9);
  border-bottom: 2px solid black;
}
