.info-display {
  display: flex;
}

.animal-container {
  padding: 10px;
}

.animal-display {
  align-items: center;
  background-color: rgba(128, 128, 128, .9);
  border: 2px solid black;
  box-shadow: 10px 0px 20px black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0px;
  padding: 10px;
  width: 60vw;
}

.animal-img {
  width: 90%;
}

.donation-container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  padding: 10px;
}

.donation-display {
  background-color: #f1f1f1;
  border: 1px solid;
  border: 2px solid black;
  height: fit-content;
  margin: 5px;
  min-height: 100px;
  padding: 10px;
  width: 45%;
}

.donation-list {
  background-color: rgba(128, 128, 128, .9);
  border: 2px solid black;
  box-shadow: 10px 0px 20px black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 95%;
}

h2 {
  background-color: rgba(128, 128, 128, .9);
  border: 2px solid black;
  font-size: 30px;
  font-stretch: 20%;
  height: fit-content;
  width: 100%;
}

.animal-name {
  font-size: 25px;
}